---
import ToolLayout from '@/layouts/ToolLayout.astro';
import { tools } from '@/config/tools';
const tool = tools.find(t => t.id === '71')!;
---
<ToolLayout {...tool}><div class="p-4 border rounded">Timestamp UI stub</div></ToolLayout>
